In [1]:
import pandas as pd
df = pd.read_csv('IMF_M5_Mystery_Shopping.csv', sep=';', encoding='latin-1')

In [2]:
a = pd.DataFrame(df)
a

,COD_LOC,NOMBRE_LOC,CP,POBLACION,OFICINA,PROVINCIA,COD_PROY,ID_EVALUACION,Fecha de ejecucion,COD_AUDITOR,RESULTADO,TITULO_CUESTIONARIO
0,12,MUCHAS BOIRO,15930,Boiro,910,A CORUÑA,0267_001,1938117,16/01/2014,R29407,"0,9513",Nuevo cuestionario Mucha's
1,17,MUCHAS CARBALLIÑO,32500,Carballiño,910,ORENSE,0267_001,1938118,10/01/2014,33466,"0,8351",Nuevo cuestionario Mucha's
2,21,MUCHAS BUEU,36930,Bueu,910,PONTEVEDRA,0267_001,1938119,10/01/2014,29100,"0,8958",Nuevo cuestionario Mucha's
3,31,MUCHAS VIGO I,36202,Vigo,910,PONTEVEDRA,0267_001,1938120,21/01/2014,34161,"0,7625",Nuevo cuestionario Mucha's
4,34,MUCHAS REDONDELA,36800,Redondela,910,PONTEVEDRA,0267_001,1938121,23/01/2014,34161,"0,6069",Nuevo cuestionario Mucha's
...,...,...,...,...,...,...,...,...,...,...,...,...
32792,266,STAND - MEDIA MARKT BARAKALDO,48000,BARACALDO,905,VIZCAYA,0457_004,2016569,16/06/2014,A32801,1,CONSUMO IMAGEN GRANDES SUPERFICIES - P2 (14.15)
32793,266,STAND - MEDIA MARKT BARAKALDO,48000,BARACALDO,905,VIZCAYA,0457_004,2016570,16/06/2014,A32801,1,CONSUMO PROCESOS - P2 (14.15)
32794,324,"GRUPO BONATEL, S.L.U.",12540,VILLAREAL,917,CASTELLON,0457_002,2016576,17/04/2014,31433,"0,95",MYSTERY SHOPPER FFQQ P1 (ABR_14)
32795,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2016755,15/05/2014,33592,"0,873",Prenatal Mystery Shopping
32796,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2016756,15/05/2014,33592,"0,975",Prenatal Visual tienda

In [3]:
a.columns

Index(['COD_LOC', 'NOMBRE_LOC', 'CP', 'POBLACION', 'OFICINA', 'PROVINCIA',
       'COD_PROY', 'ID_EVALUACION', 'Fecha de ejecucion', 'COD_AUDITOR',
       'RESULTADO', 'TITULO_CUESTIONARIO'],
      dtype='object')

In [4]:
a.dtypes

COD_LOC                object
NOMBRE_LOC             object
CP                      int64
POBLACION              object
OFICINA                object
PROVINCIA              object
COD_PROY               object
ID_EVALUACION           int64
Fecha de ejecucion     object
COD_AUDITOR            object
RESULTADO              object
TITULO_CUESTIONARIO    object
dtype: object

In [5]:
a.shape

(32797, 12)

In [6]:
a['COD_LOC'].value_counts()

1       269
2       197
15      182
12      178
5       177
       ...
6185      1
C881      1
P8        1
2362      1
1770      1
Name: COD_LOC, Length: 5646, dtype: int64

In [7]:
a['COD_LOC'].describe()

count     32797
unique     5646
top           1
freq        269
Name: COD_LOC, dtype: object

In [8]:
a['NOMBRE_LOC'].value_counts()

LUALBO, S.L                             872
Salesland                               690
Aventel                                 519
GRUPCOM RETAIL,  S.L.                   417
INTERNITY (AVENIR TELECOM S.A.)         346
                                       ...
Tienda PHONE HOUSE Real 119 (Ferrol)      1
AUTOS AL-MAZARRON, S.L.                   1
GAFAS COMPLETAS MERCABARNA                1
holaMOBI Badajoz R. Carapeto              1
GA.MUROS                                  1
Name: NOMBRE_LOC, Length: 6702, dtype: int64

In [9]:
a['NOMBRE_LOC'].describe()

count           32797
unique           6702
top       LUALBO, S.L
freq              872
Name: NOMBRE_LOC, dtype: object

In [5]:
a['CP'] = a['CP'].astype('object')

In [6]:
a['CP'].value_counts()

28000    2321
8000      908
43840     233
8820      184
8028      153
         ...
17834       1
33947       1
12350       1
24411       1
29560       1
Name: CP, Length: 1797, dtype: int64

In [7]:
a['CP'].describe()

count     32797
unique     1797
top       28000
freq       2321
Name: CP, dtype: int64

In [10]:
a['POBLACION'].value_counts()

MADRID                      1725
BARCELONA                   1288
Madrid                      1013
TE SIN FEE                   782
Barcelona                    745
                            ...
SANT ANTONI DE VILAMAJOR       1
Felanitx                       1
EJIDO (EL)                     1
CASTAÑEDA                      1
OROTAVA, LA                    1
Name: POBLACION, Length: 2045, dtype: int64

In [11]:
a['POBLACION'].describe()

count      32716
unique      2045
top       MADRID
freq        1725
Name: POBLACION, dtype: object

In [12]:
a['OFICINA'].value_counts()

911    9221
901    7915
915    4469
917    2392
922    2171
910    1970
905    1554
908    1314
919     710
921     640
SGS     297
999      91
959      53
Name: OFICINA, dtype: int64

In [13]:
a['OFICINA'].describe()

count     32797
unique       13
top         911
freq       9221
Name: OFICINA, dtype: object

In [14]:
a['PROVINCIA'].value_counts()

MADRID                    6663
BARCELONA                 5438
VALENCIA                  1879
ALICANTE                  1319
SEVILLA                    988
ASTURIAS                   941
A CORUÑA                   928
TARRAGONA                  874
MALAGA                     859
MURCIA                     793
PALMAS, LAS                716
SANTA CRUZ DE TENERIFE     648
CADIZ                      624
PONTEVEDRA                 607
VIZCAYA                    603
GIRONA                     596
BALEARES                   550
LLEIDA                     487
ZARAGOZA                   467
CORDOBA                    431
GRANADA                    397
CASTELLON                  362
EXTRANJERO                 358
GUIPUZCOA                  353
ALMERIA                    317
BADAJOZ                    311
NAVARRA                    309
VALLADOLID                 308
JAEN                       298
LEON                       280
CANTABRIA                  270
CIUDAD REAL                251
HUELVA                     238
ALBACETE                   233
TOLEDO                     230
ORENSE                     221
LUGO                       211
SALAMANCA                  171
ALAVA                      162
CACERES                    140
RIOJA, LA                  128
BURGOS                     128
HUESCA                     101
SEGOVIA                     92
AVILA                       85
CUENCA                      80
PALENCIA                    77
ZAMORA                      70
GUADALAJARA                 70
TERUEL                      46
SORIA                       33
MELILLA                     31
CEUTA                       25
Name: PROVINCIA, dtype: int64

In [15]:
a['PROVINCIA'].describe()

count      32797
unique        53
top       MADRID
freq        6663
Name: PROVINCIA, dtype: object

In [16]:
a['COD_PROY'].value_counts()

0457_003    9633
0457_002    2158
0457_004    1414
0010_001    1269
0111_001     911
            ...
FLL_1          1
AX             1
ZENIT          1
LOLO           1
CIR            1
Name: COD_PROY, Length: 223, dtype: int64

In [17]:
a['COD_PROY'].describe()

count        32797
unique         223
top       0457_003
freq          9633
Name: COD_PROY, dtype: object

In [18]:
a['ID_EVALUACION'] = a['ID_EVALUACION'].astype('object')

In [19]:
a.dtypes

COD_LOC                object
NOMBRE_LOC             object
CP                      int64
POBLACION              object
OFICINA                object
PROVINCIA              object
COD_PROY               object
ID_EVALUACION          object
Fecha de ejecucion     object
COD_AUDITOR            object
RESULTADO              object
TITULO_CUESTIONARIO    object
dtype: object

In [20]:
a['ID_EVALUACION'].value_counts()

1966079    1
1988295    1
1987861    1
1987864    1
1987871    1
          ..
2007487    1
2007489    1
2007492    1
2007493    1
1966080    1
Name: ID_EVALUACION, Length: 32797, dtype: int64

In [21]:
a['ID_EVALUACION'].describe()

count       32797
unique      32797
top       1966079
freq            1
Name: ID_EVALUACION, dtype: int64

In [22]:
a['Fecha de ejecucion'].value_counts()

25/02/2014    520
19/02/2014    519
21/02/2014    503
20/02/2014    501
23/04/2014    497
             ...
29/04/2013      1
20/03/2013      1
25/04/2013      1
12/12/2014      1
14/01/2013      1
Name: Fecha de ejecucion, Length: 188, dtype: int64

In [23]:
a['Fecha de ejecucion'].describe()

count          32796
unique           188
top       25/02/2014
freq             520
Name: Fecha de ejecucion, dtype: object

In [24]:
a['Fecha de ejecucion'] = pd.to_datetime(a['Fecha de ejecucion'])
a['Fecha de ejecucion'].agg(['min', 'max'])

min   1995-03-05
max   2014-12-12
Name: Fecha de ejecucion, dtype: datetime64[ns]

In [25]:
a['COD_AUDITOR'].value_counts()

citi_lop    782
R29530      467
A32809      412
R29502      410
a02401      380
           ...
33974         1
33888         1
MAIDER_L      1
33740         1
34205         1
Name: COD_AUDITOR, Length: 1169, dtype: int64

In [26]:
a['COD_AUDITOR'].describe()

count        32797
unique        1169
top       citi_lop
freq           782
Name: COD_AUDITOR, dtype: object

In [27]:
a['RESULTADO'] = a['RESULTADO'].str.replace(',', '.').astype('float64')

In [28]:
a.describe()

                 CP     RESULTADO
count  32797.000000  32797.000000
mean   24485.800134      0.797175
std    14163.379513      0.275862
min        0.000000      0.000000
25%     8905.000000      0.765300
50%    28000.000000      0.900000
75%    33900.000000      0.970000
max    99999.000000      1.000000

In [29]:
a['RESULTADO'].agg(['min', 'max'])

min    0.0
max    1.0
Name: RESULTADO, dtype: float64

In [30]:
a['RESULTADO'].describe()

count    32797.000000
mean         0.797175
std          0.275862
min          0.000000
25%          0.765300
50%          0.900000
75%          0.970000
max          1.000000
Name: RESULTADO, dtype: float64

In [31]:
a['RESULTADO'].value_counts()

1.0000    6174
0.0000    1743
0.0100     817
0.9500     795
0.9667     627
          ...
0.7426       1
0.7391       1
0.7607       1
0.5502       1
0.5436       1
Name: RESULTADO, Length: 4205, dtype: int64

In [32]:
a['TITULO_CUESTIONARIO'].describe()

count                                        32797
unique                                         439
top       MYSTERY SHOPPER ESPECIALISTA P6 (FEB_14)
freq                                           979
Name: TITULO_CUESTIONARIO, dtype: object

In [33]:
a['TITULO_CUESTIONARIO'].value_counts()

MYSTERY SHOPPER ESPECIALISTA P6 (FEB_14)      979
MYSTERY SHOPPER ESPECIALISTA P1 (ABR_14)      936
MYSTERY SHOPPER ESPECIALISTA P5 (ENE_14)      859
Areas Compra Programada_Abril_2012            847
RESUMEN ESPECIALISTAS PEC - P6 (13.14)        843
                                             ...
LLAOLLAO AUDITORIAS (FEB_14)                    1
TTPP NUEVA IMAGEN - P1 (14.15)                  1
Cuestionario Viajes Eroski _ online             1
MYSTERY SHOPPER SERVICIO TTPP P2 (JUN_14 )      1
Cuestionario TIGER                              1
Name: TITULO_CUESTIONARIO, Length: 439, dtype: int64

### VALORES NULOS

In [34]:
a.isnull().values.any()

True

In [35]:
a.isnull().any()

COD_LOC                False
NOMBRE_LOC             False
CP                     False
POBLACION               True
OFICINA                False
PROVINCIA              False
COD_PROY               False
ID_EVALUACION          False
Fecha de ejecucion      True
COD_AUDITOR            False
RESULTADO              False
TITULO_CUESTIONARIO    False
dtype: bool

In [36]:
null_rows=df[df.isnull().any(1)]

In [37]:
null_rows

,COD_LOC,NOMBRE_LOC,CP,POBLACION,OFICINA,PROVINCIA,COD_PROY,ID_EVALUACION,Fecha de ejecucion,COD_AUDITOR,RESULTADO,TITULO_CUESTIONARIO
1000,LCG_03,LCG Sierpes 2-4,41004,NaN,915,SEVILLA,0418_01,1947016,2014-01-25,29559,1.0000,LCG_Cuestionario Español
1056,JDB_07,ECI Plaza Cataluña,8000,NaN,901,BARCELONA,0445_01,1947075,2014-01-13,157,0.8242,JDB_Cuestionario Español
1060,LCG_06,LCG Ferran 14,8002,NaN,901,BARCELONA,0418_01,1947080,2014-01-25,31678,0.7278,LCG_Cuestionario Español
1062,LCG_05,LCG Palma de Mallorca,7001,NaN,901,BALEARES,0418_01,1947082,2014-01-18,901_02707,0.9089,LCG_Cuestionario Español
1115,LCG_01,LCG Postas 18,28012,NaN,911,MADRID,0418_01,1947138,2014-01-25,33270,0.8638,LCG_Cuestionario Español
...,...,...,...,...,...,...,...,...,...,...,...,...
30820,JDB_02,CC Plenilunio,28022,NaN,911,MADRID,0445_01,2006012,2014-03-06,33642,0.9130,JDB_Cuestionario Español
30823,LCG_06,LCG Ferran 14,8002,NaN,901,BARCELONA,0418_01,2006018,2014-07-06,157,0.8639,LCG_Cuestionario Español
30825,JDB_07,ECI Plaza Cataluña,8000,NaN,901,BARCELONA,0445_01,2006020,2014-12-06,32708,0.9625,JDB_Cuestionario Español
30827,LCG_03,LCG Sierpes 2-4,41004,NaN,915,SEVILLA,0418_01,2006034,2014-06-14,33562,1.0000,LCG_Cuestionario Español
31307,1,SALA DE DESPIECE (SERVIGROUP),3502,NaN,SGS,ALICANTE,SALA DESPIECE,2007522,2014-10-06,M_DELGADO,0.9628,AUDITORIA SEGURIDAD ALIMENTARIA-HYGIENE MONITORED

In [38]:
a.isnull().sum()

COD_LOC                 0
NOMBRE_LOC              0
CP                      0
POBLACION              81
OFICINA                 0
PROVINCIA               0
COD_PROY                0
ID_EVALUACION           0
Fecha de ejecucion      1
COD_AUDITOR             0
RESULTADO               0
TITULO_CUESTIONARIO     0
dtype: int64

In [47]:
df.loc[df["NOMBRE_LOC"] == "AVEIRO"]

,COD_LOC,NOMBRE_LOC,CP,POBLACION,OFICINA,PROVINCIA,COD_PROY,ID_EVALUACION,Fecha de ejecucion,COD_AUDITOR,RESULTADO,TITULO_CUESTIONARIO
13233,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,1971659,2014-12-03,portugal,0.961,Prenatal Mystery Shopping
16508,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,1979299,2014-12-03,33592,1.000,Prenatal Visual tienda
27729,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,1999055,2014-05-15,portugal,0.873,Prenatal Mystery Shopping
27730,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,1999056,2014-05-15,portugal,0.975,Prenatal Visual tienda
30258,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2004806,2014-05-22,portugal,0.952,Prenatal Mystery Shopping
30259,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2004807,2014-05-22,portugal,0.913,Prenatal Visual tienda
32795,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2016755,2014-05-15,33592,0.873,Prenatal Mystery Shopping
32796,161,AVEIRO,8000,AVEIRO,901,EXTRANJERO,0569_001,2016756,2014-05-15,33592,0.975,Prenatal Visual tienda